/* You can add global styles to this file, and also import other style files */
html, body, material-app, md-sidenav-container, .main-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

body { font-family: Roboto, Arial, sans-serif; }

button.icon.danger{
  color: red;
}

snack-bar-container.danger {
  background-color:red;
}